<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Edit current product:</div>
    <div class="panel panel-body" *ngIf="currentProduct">
      <form #f="ngForm" (ngSubmit)="onUpdateProduct(f.value)">
        <div class="form-group">
          <label class="control-label">Description</label>
          <input class="form-control" type="text" name="description" ngModel [(ngModel)]="currentProduct.description">
        </div>

        <div class="form-group">
          <label class="control-label">Price</label>
          <input class="form-control" type="text" name="price" ngModel [(ngModel)]="currentProduct.price">
        </div>

        <div class="form-group">
          <label class="control-label">Quantity</label>
          <input class="form-control" type="number" name="quantity" ngModel [(ngModel)]="currentProduct.quantity">
        </div>

        <button class="btn btn-success" type="submit">Update</button>
      </form>
    </div>
  </div>
</div>
