<div class="container">
  <div class="col-md-9 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">New product</div>
      <div class="panel-body" *ngIf="mode==1">
        <form #f="ngForm" (ngSubmit)="onSaveProduct(f.value)">
          <div class="form-group">
            <label class="control-label">Description</label>
            <input class="form-control" type="text" name="description" ngModel>
          </div>

          <div class="form-group">
            <label class="control-label">Price</label>
            <input class="form-control" type="text" name="price" ngModel>
          </div>

          <div class="form-group">
            <label class="control-label">Quantity</label>
            <input class="form-control" type="number" name="quantity" ngModel>
          </div>

          <button class="btn btn-success" type="submit">Save</button>
        </form>
      </div>
      <div class="panel-body" *ngIf="mode==2">
        <button class="btn btn-success" (click)="onNewProduct()">New product</button>
        <div class="form-group">
          <label>ID:</label>
          <label>{{currentProduct.id}}</label>
        </div>

        <div class="form-group">
          <label>Description:</label>
          <label>{{currentProduct.description}}</label>
        </div>

        <div class="form-group">
          <label>Price:</label>
          <label>{{currentProduct.price}}</label>
        </div>

        <div class="form-group">
          <label>Quantity:</label>
          <label>{{currentProduct.quantity}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
