<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">List of products</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <label>Keyword: </label>
          <input type="text" name="keyword" ngModel="">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            Search
          </button>
        </div>
      </form>

      <table *ngIf="products" class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>

        <tr *ngFor="let p of products._embedded.products">
          <td>{{p.id}}</td>
          <td>{{p.description}}</td>
          <td>{{p.price|number:'0.2'}}</td>
          <td>{{p.quantity}}</td>
          <td><a class="btn btn-danger" (click)="onDeleteProduct(p)">Delete</a></td>
          <td><a class="btn btn-success" (click)="onEditProduct(p)">Edit</a></td>
        </tr>
      </table>

      <ul *ngIf="pages" class="nav nav-pills">
        <li class="nav-item" [ngClass]="i==currentPage?'active': ''" *ngFor="let p of pages; let i=index">
          <a class="btn btn-primary" data-toggle="pill" role="tab" aria-selected="true" (click)="onPageProduct(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
